.projects {
    padding: 20px;
    background-color:  #262B40;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectTitle {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
}

.projectTitle .pro {
    color: #53B2F4;
}

h3{
    color: #53B2F4;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 60rem;
}

.projectBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #191f36;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.projectBox:hover {
    border: 0.2rem solid #53B2F4;
    transform: scale(1.02);
}

.projectImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.projectImg2{
    width: 100%;
    max-width: 100%;
    height: 160px;
    border-radius: 8px;
}

.projectBox h3 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #53B2F4;
}

.projectBox p {
    font-size: 1rem;
    color:white;
    margin-top: 10px;
}

.github-icon {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.github-icon:hover {
    color: #53B2F4;
}
